@{
    ViewData["Title"] = "Sign up Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/input.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/log-in.css" asp-append-version="true" />
}

<div class="log-in-container">
    <div class="log-in-form-container">
      <div class="log-in-form-loginFormHeader">
        <h1 class="log-in-form-loginFormHeaderTitle">Welcome Back!</h1>
        <p class="log-in-form-loginFormHeaderSubtitle">
          Please enter your details
        </p>
      </div>
        @using (Html.BeginForm("login", "auth", FormMethod.Post, new { @class = "log-in-form-loginFormBody" }))
        {
            <div class="input-container" >
                <label class="input-label" htmlFor="email">
                    Email
                </label>

                <input
                    class="input-input"  @* ${error && classes.error} ${error && classes.shakeAnimation}}`} *@
                    type="email"
                    placeholder="example@example.com"
                    id="email"
                    @* onChange={onChange} *@
                    name="email"
                />
                @* {error && <span class="input-errorMessage">{error}</span>} *@
            </div>
            <div class="input-container" >
                <label class="input-label" htmlFor="password">
                    Password
                </label>

                <input
                    class="input-input"  @* ${error && classes.error} ${error && classes.shakeAnimation}}`} *@
                    type="password"
                    placeholder="password"
                    id="password"
                    @* onChange={onChange} *@
                    name="password"
                />
                @* {error && <span class="input-errorMessage">{error}</span>} *@
            </div>
            <button type="submit" class="stretched-button-container">
                <span class="stretched-button-text">Log in</span>
            </button>
        }
        @* <form class="log-in-form-loginFormBody">
        <div class="log-in-form-nameContainer">
          <InputField
            type={"text"}
            label={"First Name"}
            name={"firstName"}
            placeholder="Jane"
            onChange={(event) => handleInputChange(event)}
            class="log-in-form-nameInput"
          />
          <InputField
            type={"text"}
            label={"Last Name"}
            name={"lastName"}
            placeholder="Doe"
            onChange={(event) => handleInputChange(event)}
            class="log-in-form-nameInput"
          />
        </div>
        <InputField
          type={"email"}
          label={"Email"}
          name={"email"}
          placeholder="example@example.com"
          onChange={(event) => handleInputChange(event)}
        />
        <InputField
          type={"tel"}
          label={"Phone Number"}
          name={"phoneNumber"}
          placeholder="Enter Your Phone Number"
          onChange={(event) => handleInputChange(event)}
        />
        <InputField
          type={"password"}
          label={"Password"}
          name={"password"}
          placeholder="Enter Your Password"
          onChange={(event) => handleInputChange(event)}
        />
        <InputField
          type={"password"}
          label={"Confirm Password"}
          name={"confirmPassword"}
          placeholder="Confirm Your Password"
          onChange={(event) => handleInputChange(event)}
        />
        <div class="log-in-form-termsAndConditions">
          <input
            type="checkbox"
            id="termsAndConditions"
            name="termsAndConditions"
            value="termsAndConditions"
            onChange={(event) => handleInputChange(event)}
          />
          <label htmlFor="termsAndConditions">
            I agree to the <a href="#">Terms and Conditions</a>
          </label>
        </div>
        <div class="log-in-form-buttonsContainer">
          <StretchedButton
            type="submit"
            text={"Sign Up"}
            onClick={handleSubmit}
            loading={loading}
          />
        </div>
      </form> *@
    </div>
</div>