.reviews-section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-inline: 7.5rem;
  padding-block: 4rem 6rem;
  gap: 4rem;
  /* background-color: #f5f5f5; */
}

.reviews-section-line {
  border-top: 1px solid #c4c4c4dd;
  width: 70%;
  margin-inline: auto;
}

.reviews-section-title {
  font-size: 2.35rem;
  font-weight: 700;
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-bottom: 3px solid #9ea8db;
  font-family: "Outfit";
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .reviews-section-container {
    padding-inline: 2rem;
    padding-block: 2rem;
    gap: 2rem;
  }
  .reviews-section-title {
    font-size: 1.75rem;
  }
}

.reviews-container-container {
  display: flex;
  /* flex-direction: column; */
  gap: 4.5rem;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
}

.reviews-card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 320px;
  align-items: center;
  border-radius: 10px;
  height: 12.5rem;
  background-color: #e8eaf6ec;
  box-shadow: 0px 0px 20px 1px #9ea8db7f;
  transition: all 0.3s ease-in-out;
}

.reviews-card-container:hover {
  box-shadow: 0px 0px 10px 1px rgba(158, 168, 219, 0.659);
}

.reviews-card-review {
  font-size: 16px;
  line-height: 1.5;
}
.reviews-card-name {
  height: 20%;
}

@media screen and (max-width: 768px) {
  .reviews-card-container {
    width: 100%;
    height: 100%;
  }
  .reviews-card-review {
    font-size: 14px;
  }
  .reviews-card-name {
    height: 20%;
  }
}
